@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.home-page{
    width: 1080px;
}

.intro-bg{
  background: rgba(1, 1, 1, 0.8);
}

.bg-image{
  background-image: url('../public/emirates.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

.portfolio-card{
  border-radius: 20px;
  border-width: 2px;
  background-color: red;
}
.card-top{
  background-image: url('../public/IMG_1850.jpg');
  background-size: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 100px;
}

.color-blue{
  color: #0079AF;
}

.bg-blue{
  background-color: #0079AF;
}

.color-light-blue{
  color: #CCE4EF;
}
.bg-light-blue{
  background-color: #CCE4EF;
}

.color-dark-blue{
  color: #001823;
}
.bg-dark-blue{
  background-color: #001823;
}